<footer class="footer base">
  <div class="footer-wrap">
    <hr class="vdivider">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p><img src="{{ site.url }}/img/logo/logo.svg" style="width: 70px" alt=""><span>{{ site.orgainzation }}</span></p>

          <p class="text-uppercase">&copy; {{ 'now' | date:"%Y" }} <a href="{{ site.url }}">{{ site.org_name }}</a> </p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          <h4>Contact information</h4>
    <p>{{ site.organization }}</p>
	<p><address><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>&nbsp;{{ site.address.mail }}</p>
	<a href="tel:+{{ site.address.phone }}"><i class="fa fa-phone-square" aria-hidden="true"></i>&nbsp;{{ site.address.phone }}</a>
	</address>
          <address>
	<h4>Contact person</h4>
	{% if site.address.contact %}
	  <div>
	    <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;<u>{{ site.address.contact.en }}</u>
	  </div>
	{% endif %}
	<a href="mailto:{{ site.address.email }}"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;{{ site.address.email }}</a>
	</address>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <ul class="list-inline">
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Solicitation Disclosure</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Newsletter Signup</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="vdivider">
  </div>
</footer>
