---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Children camps

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">
	<div class="row">

		<div class="col-md-8">
			<p>Every year we introduce children camps for orphans and half-orphans through in Ukraine and Moldova.</p>
			<p>
				The education of their children is a major challenge for every widow and caused her much grief and worry. By the lack of paternal care such children get often on the wrong path. Therefore, the widows are very happy that their children are allowed to participate in such camps, where is brought close to them the love of God and many of them give their hearts to Jesus. God is blessing this work in a very special way.
			</p>
			<h3 class="text-bold">What is being done:</h3>
			<ul>
				<li>Travel and accommodation costs are covered for the children</li>
				<li>Every day, conducted children's hours, played games, handicrafts made sports (football, volleyball), activities such as boating or canoeing, hiking, station games, campfire, etc.</li>
			</ul>
			<h3 class="text-bold">Our goals:</h3>
			<ul>
				<li>the children share the love of God</li>
				<li>
					them to be their missing fathers or mothers

					<ul>
						<li>For a reference to them</li>
						<li>To be a person of trust</li>
						<li>to show love</li>
					</ul>
				</li>
				<li>enjoy quiet breaks the children, where they can rest from the daily routine, breathe fresh air and experience a loving contact may (quite a few of them come from broken homes and have experienced violence and hatred)</li>
			</ul>
		</div>
		<div class="col-md-4">
			<div class="thumbnail blockquote">

				<i class="fa fa-quote-left text-bold" aria-hidden="true"></i>
				<p class="">
					witness a half-way leisure is something very special. Again and again, one feels the presence of God and the unity of the one hatt through Jesus Christus, because often does not know you personally before. You drive exhausted but happy and built home.
				</p>
				<p>
					<strong>Sweta</strong> as volunteer assistant
				</p>
				<hr class="vdivider sm">
				<h4 class="text-bold">You want to help?</h4>
				<p>Write to us:</p>
				<a href="{{ site.url }}/contacts" class="btn btn-primary btn-lg"><i class="fa fa-envelope-o" aria-hidden="true"></i>
 &nbsp; Contact</a>
			</div>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
