---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Contact us

---

{% include nav-desktop.html %}

<div class="contact">
	<div class="gradient">
		<div class="container text-center">
			<hr class="vdivider sm">
			<h2 class="text-bold text-center">{{ page.heading }}</h2>
			<hr class="vdivider sm">

			<p class="lead text-bold">
				<!--				<i class="fa fa-envelope" aria-hidden="true"></i>-->
			</p>

			<div class="col-sm-6 col-sm-offset-3">
				<form id="contactform" method="POST">

					<div class="form-group">
						<div class="input-group">

							<span class="input-group-addon" id="basic-addon1">
									<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							</span>

							<input type="text" class="form-control" id="client_name" placeholder="Your name" name="client-name">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon" id="basic-addon1">
									<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							</span>
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="client-email">
						</div>
					</div>
					<div class="form-group">
						<textarea name="client-message" id="client_message" class="form-control" rows="3" placeholder="Message"></textarea>
					</div>
					<div class="form-group">
						<input type="text" name="_gotcha" style="display:none" />
						<button type="submit" class="btn btn-info btn-lg">Send message</button>
					</div>
				</form>
				<hr class="vdivider sm">
				<hr class="vdivider sm">
				<a href="#contacts" class="btn btn-link btn-lg">
					<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				</a>
				<hr class="vdivider sm">

			</div>

		</div>
		<hr class="vdivider sm">
	</div>
</div>

<div class="container-fluid">
	<hr class="vdivider sm">
	<div class="container content">
		<h3 id="contacts" class="text-bold">Relief Committee eV in need</h3>
		<p>
			<a href="" class="btn btn-link"><span class="text-bold">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</span>
				Eberstädter Weg 20, 35415 Pohlheim</a>
		</p>
		<p>
			<a href="" class="btn btn-link">
				<span class="text-bold">
				<i class="fa fa-phone" aria-hidden="true"></i>
			</span> 1234 123 12 12
			</a>
		</p>
		<p>
			<a href="" class="btn btn-link"><span class="text-bold"><i class="fa fa-envelope" aria-hidden="true"></i></span>
			info@aidcim.org
				</a>
		</p>
	</div>
	<hr class="vdivider sm">
	<div class="container content">
		<h3 class="text-bold">Direct contact with those responsible</h3>
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<span class="text-reg">Widows and orphans:</span>
					</div>
					<div class="col-md-3">
						Mr J. Vot
					</div>
					<div class="col-md-3">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="">0157 83496083</a>
					</div>
					<div class="col-md-3">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:info@aidcim.mail">info@aidcim.mail</a>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<span class="text-reg">Orphans camps:</span>
					</div>
					<div class="col-md-3">
						Mr J. Vot
					</div>
					<div class="col-md-3">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="">0157 83496083</a>
					</div>
					<div class="col-md-3">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:info@aidcim.mail">info@aidcim.mail</a>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<span class="text-reg">Humanitarian aid:</span>
					</div>
					<div class="col-md-3">
						Mr J. Vot
					</div>
					<div class="col-md-3">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="">0157 83496083</a>
					</div>
					<div class="col-md-3">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:info@aidcim.mail">info@aidcim.mail</a>
					</div>
				</div>
			</li>
			<li class="list-group-item">
				<div class="row">
					<div class="col-md-3">
						<span class="text-reg">Accounting:</span>
					</div>
					<div class="col-md-3">
						Mr J. Vot
					</div>
					<div class="col-md-3">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="">0157 83496083</a>
					</div>
					<div class="col-md-3">
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:info@aidcim.mail">info@aidcim.mail</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
