---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Donate

heading_lead:

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}
<div class="container-fluid donate-box">
 <hr class="vdivider sm">
 <div class="container">
  <div class="row">
   <div class="col-md-8">
    <h2 class="text-bold">Your donations enable us to help needy people around the world.</h2>
    <p class="lead">We live in a world of suffering. Millions are unable to provide for even their basic needs. Your contributions make a difference for abandoned orphans, needy widows, refugees, and many others who are in need of physical and spiritual help. Explore over 40 programs to find the ones that connect with you.</p>
    <p class="text-base-reg lead">You can choose from the featured programs below or scroll down to see our entire list of programs. Your contributions are very much appreciated! God bless you.</p>
   </div>
  </div>

 </div>
</div>

<div class="container-fluid">
 <hr class="vdivider sm">

 <div class="container">
  <hr class="vdivider sm">

  <div class="row">
   <div class="col-md-4">
    <div class="panel panel-danger">
     <section class="panel-heading bg-danger text-danger">
      <h2 class="text-center">Urgent needs</h2>
     </section>
     <section class="panel-body headline">
      <section class="">
       <h3><a href="#" class="btn btn-link btn-lg">Widows &nbsp;<i class="fa fa-hand-o-left" aria-hidden="true"></i></a></h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, doloribus. Culpa voluptates accusantium, vitae, aperiam, fugit commodi aut excepturi eligendi delectus.</p>

      </section>
      <section class="">
       <h3>
        <a href="#" class="btn btn-link btn-lg">Orphans &nbsp;<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
       </h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, doloribus. Culpa voluptates accusantium, vitae, aperiam, fugit commodi aut excepturi eligendi delectus.</p>

      </section>
      <section class="">
       <h3>
        <a href="#" class="btn btn-link btn-lg">Charity &nbsp;<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
       </h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, doloribus. Culpa voluptates accusantium, vitae, aperiam, fugit commodi aut excepturi eligendi delectus.</p>

      </section>
     </section>

    </div>
   </div>
   <div class="col-md-4">
    <div class="panel panel-info">
     <section class="panel-heading">
      <h2 class="text-center">Program #1</h2>
     </section>
     <section class="panel-body headline">
      <img src="{{ site.url }}/img/hand.jpeg" alt="" class="img-responsive">
      <hr>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit numquam odio alias illum atque eum dolore, doloremque quo obcaecati, eos repellat voluptatibus velit, sint aliquam non officia! Asperiores atque, officia!
      </p>
      <a href="#" class="btn btn-link btn-lg">Learn more &nbsp;<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
     </section>
    </div>
   </div>
   <div class="col-md-4">
    <div class="panel panel-info">
     <section class="panel-heading">
      <h2 class="text-center">Program #1</h2>
     </section>
     <section class="panel-body headline">
      <img src="{{ site.url }}/img/faith.jpg" alt="" class="img-responsive">
      <hr>
      <p>
       Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque blanditiis ipsum numquam consectetur sunt fuga, veniam repellendus deleniti, magni perferendis repudiandae placeat tenetur voluptas ad. Illum soluta, a iste iusto.
      </p>
      <a href="#" class="btn btn-link btn-lg">Learn more &nbsp;<i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
     </section>
    </div>
   </div>
  </div>
 </div>
</div>

<div class="container-fluid headline">
 <div class="container">
  <hr class="vdivider sm">
  <div class="row">
   <h3 class="text-bold text-center">Our projects by category</h3>
   <hr class="vdivider sm">


  </div>
  <div class="row">
   <div class="col-md-9">
    {% assign current-projects = site.current-projects | sort: 'date' %} {% for project in current-projects reversed %}

    <div class="col-sm-4">
     <a href="{{ site.url }}{{ project.url }}" class="thumbnail">
      <div class="thumb-img lg" style="background-image: url('{{ site.url }}{{ project.img }}')">
      </div>
      <div class="caption bg-info">
       <h3 class="">{{ project.project-title }}</h3>
       <p class="">{{ project.project-intro }}</p>
      </div>
     </a>
    </div>

    {% endfor %}</div>

   <div class="col-md-3">
    {% include sections/paypal-sidebar.html %}
    <hr class="vdivider sm">
   </div>
  </div>
 </div>
</div>

<!--Comment section start-->
{% include sections/comments.html %}
<!--Comment section end-->

{% include form/form-signup-news.html %}


