---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Information Sessions

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">
	<div class="row">

		<div class="col-md-8">
			<h3>Friends meeting</h3>
			<p>Several times a year we organize regional meetings with friends in different cities of Germany. These friends meetings are held in community centers. Here we report on the projects of the past year, an overview of the Finazen and introduce new projects.</p>
			<p>
				We send invitations to all the donors within about 100 km, however, all interested parties are welcome to this work.
			</p>
			<p>
				Come and visit and let together to thank God continue to ask us for the blessing and wisdom.
			</p>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<img class="img-rounded" src="http://placehold.it/360x240/c7c7c7/fafafa" alt="...">
			</div>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
<div class="container-fluid headline">
<hr class="vdivider sm">
	<div class="container">
		<h2>Information evening in your community</h2>
		<hr class="vdivider sm">
		<div class="row">
			<div class="col-md-8">
				<p class="">We will come to present in their community to our work and upcoming projects. </p>
				<p class="">
					Write us or call us to make an appointment.
				</p>
			</div>
			<div class="col-md-4">
				<a href="#" class="btn btn-info btn-lg pull-right">Contact</a>
			</div>
		</div>
	</div>
	<hr class="vdivider sm">
</div>

