---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · News posts

heading: News posts

heading_lead: Learn about recent AIDCIM projects and how our 7 programs are making a difference. <br>News posts are updated weekly.

paginate:
  collection: current-projects
  per_page: 15
---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}


	<hr class="vdivider sm">

	<div class="container">
		{% for project in paginator.current-projects %}
			<div class="row">
	<div class="thumbnail col-sm-4">
		<div class="thumb-img lg" style="background-image: url('{{ site.url }}{{ project.img }}')">
		</div>

	</div>
	<div class=" col-sm-8">
		<a href="{{ site.url }}{{ project.url }}" class="btn btn-link btn-lg">
							{{ project.project-title }}
						</a>
		<p class="info"><strong><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;{{ project.date | date: '%m-%d-%Y' }} &nbsp;| &nbsp;<i class="fa fa-globe" aria-hidden="true"></i> {{ project.project-location }}</strong></p>

		<p class="">{{ project.excerpt }}</p>
		<hr>
	</div>
</div>
		{% endfor %}
	</div>
<div class="container-fluid text-center bg-info">
		<div class="container">
			<div class="col-sm-12 text-center">{% include sections/pagination.html %}</div>
		</div>
	</div>


