---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Our programs

heading: Our programs

heading_lead: Aid Christian Ministry offers a variety of programs to meet a variety of needs throughout the world. Whether providing food parcels, crisis aid, education, Bibles, or business teaching, the ultimate goal of all our programs is to glorify God and further His kingdom.

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">

<div class="container">
	<div class="row">
		{% assign our-programs = site.our-programs | sort: 'order' %}
		{% for program in our-programs %}
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="text-reg"><a href="{{ site.url }}{{ program.url }}">{{ program.program-title }}</a></h3>
			</div>
			<div class="panel-body">
				<p>
					{{ program.content }}
				</p>
				<a href="{{ site.url }}{{ program.url }}" class="btn btn-primary">Learn more about this program</a>

			</div>
		</div>
		{% endfor %}


	</div>
	<div class="row">
		{% include paypal/two-row-donation.html %}
	</div>
	<hr class="vdivider sm">

</div>
