---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Send package

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">
	<div class="row">

		<div class="col-md-8">
			<p>Already a postcard with a few nice words caused great joy with a widow. The joy is much larger then only on a package with valuable content ?!  We are happy to provide the addresses of widows, orphans and needy families to you on.
			</p>
			<p>
				Unfortunately it is not possible to route packets through the charity to the needy, because it is associated with logistic effort. We therefore recommend shipping via DHL.
			</p>
			<p>
				You are welcome to send us the receipts of the content and postage and for a tax receipt to get issued.
			</p>
			<h3 class="text-bold">Suggestions for content:</h3>
			<p>
				Clothes, shoes, nonperishable food, candy, toys, personal care, hygiene products, school supplies, etc.
			</p>
			<hr>

		</div>
		<div class="col-md-4">
			<h3 class="text-reg">Contact:</h3>
			<p>
				Request address to widows here:
			</p>
			<p>
				Mr. J. Vot <br>
				Tel: <a href="">1234567890</a> <br>
				Email: <a href="">info@aidcim.com</a>
			</p>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
