---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Widow meeting

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">
	<div class="row">

		<div class="col-md-8">
			<p>Several times a year we carry widow meetings in different countries, such as Moldova, Ukraine, Kazakhstan, Belarus and Russia by.</p>
			<h3 class="text-bold">What is being done:</h3>
			<ul>
				<li>a morning and afternoon service is designed
					<ul>

						<li>Testimonies, sermons, songs, personal exchange, etc.</li>
						<li>the personal interaction they report on God's guidance in their lives, how wonderful the Lord she wears and thus encourage each other</li>
						<li>they can distribute their hearts and talk about their problems and difficulties which have to cope with it alone</li>

					</ul>
				</li>
				<li>Every day, conducted children's hours, played games, handicrafts made sports (football, volleyball), activities such as boating or canoeing, hiking, station games, campfire, etc.</li>
			</ul>
			<h3 class="text-bold">Our goals:</h3>
			<ul>
				<li>the children share the love of God</li>
				<li>
					them to be their missing fathers or mothers
					<ul>
						<li>For a reference to them</li>
						<li>To be a person of trust</li>
						<li>to show love</li>
					</ul>
				</li>
				<li>the brothers pray for the children of widows to receive the Lord into their hearts</li>
				<li>the travel expenses of the widows are taken</li>
				<li>to pass out there for each widow a small gift</li>
				<li>richly decorated tables are prepared</li>
				<li>it is ensured that the widows clothing and footwear (humanitarian aid) get for themselves and their children</li>
				<li>while the services is done something with the children of widows, such as the zoo, amusement park, etc.</li>
			</ul>
		</div>
		<div class="col-md-4">
			<h3 class="text-reg">Which target:</h3>
			<ul>

				<li>to fulfill the task which God calls us to visit the widows and orphans</li>
				<li>to allow the widows the opportunity to meet and exchange</li>
				<li>comfort the widows by the word of God and encourage</li>
				<li>get to know the widows and their children and find out where and how we can better help them</li>

			</ul>
			<hr>
			<h3 class="text-reg">You want to help?</h3>
			<a href="" class="donate btn">Donate</a>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
