<div class="container-fluid bg-default">
 <div class="container">
  <div class="row">
   <hr class="vdivider sm">
   <h3 class="text-reg text-center">
    {% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} Your support is making a difference! {% else %} Ваша поддержка много значит {% endif %}

   </h3>
   <hr class="vdivider sm">

  </div>
  <div class="row">
   {% for comment in site.data.comments.comments %}
   <div class="col-md-4">
    <div class="panel panel-info">
     <hr class="vdivider sm">
     <div class="panel-title text-center">
      <span class="badge"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
     </div>
     <div class="panel-body">
      <p class="text-center">"{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} {{ comment.quote.en }} {% else %} {{ comment.quote.ru }} {% endif %}"
      </p>
      <p class="text-center text-base-bold"> &mdash;</p>
      <p class="text-base-reg text-center">
       {% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} {{ comment.name.en }} {% else %} {{ comment.name.ru }} {% endif %}</p>
      <p class="text-center">
       {% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %} {{ comment.ref.en }} {% else %} {{ comment.ref.ru }} {% endif %}</p>
     </div>
    </div>
   </div>
   {% endfor %}
  </div>
 </div>
 <hr>
</div>
