<section class="bg-danger col-lg-12">
	<h3><span class="text-reg">20$</span> <span class="text-danger">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Donation {% else %} Пожертвование {% endif %}
	</span></h3>
	{% include paypal/paypal20.html %}
	<hr>

	<h3><span class="text-reg">50$</span> <span class="text-danger">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Donation {% else %} Пожертвование {% endif %}
	</span></h3>
	{% include paypal/paypal50.html %}
	<hr>

	<h3><span class="text-reg">20$</span> <span class="text-danger">
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Monthly sponsorship {% else %} Ежемесячная помощь {% endif %}
		</span></h3>
	{% include paypal/paypal20m.html %}
	<hr class="vdivider sm">
</section>
