<div>
	<div class="row">
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
		<div class="col-xs-6 col-md-2">
			<a href="#" class="thumbnail">
				<img src="http://placehold.it/120x100" alt="...">
			</a>
		</div>
	</div>
</div>
