<section class="headline col-md-12">
	<hr class="vdivider sm">
	<h3 class="text-reg">
		Recent news posts
	</h3>
	<ul class="list-unstyled">

		{% assign current-projects = site.current-projects | sort: 'date' %} {% for project in current-projects reversed %} {% if project.category == page.category %}
		<li>
			<a href="{{ project.url }}">{{ project.project-title }}</a>
		</li>
		{% endif %} {% endfor %}

	</ul>
	<hr class="vdivider sm">
</section>
