<section class="headline col-md-12">
	<hr class="vdivider sm">
	<h3 class="text-reg">
		Свежие новости
	</h3>
	<ul class="list-unstyled">

		{% assign current-projects-ru = site.current-projects-ru | sort: 'date' %} {% for project in current-projects-ru reversed %} {% if project.category == page.category %}
		<li>
			<a href="{{ project.url }}">{{ project.project-title }}</a>
		</li>
		{% endif %} {% endfor %}
	</ul>
	<hr class="vdivider sm">
</section>
