<div class="social lg pull-left">
	<span>
<a href="">
<i class="fa fa-envelope" aria-hidden="true"></i>
</a>
</span>
	<span>
<a href="#">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
</span>
	<span>
<a href="">
<i class="fa fa-vk" aria-hidden="true"></i>
</a>
</span>
	<span>
<a href="">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
</span>
</div>
