---
#Layout
layout: project-ru
#permalink: /ru/projects/:name.html

#Category
category: widows

#Title
title: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, in.

#Description
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, mollitia.

img: /img/projects/ad08.jpg

project-title: "Вдова Наталья Морару"
project-location: Молдова
project-intro:

---


<p>
	<strong>Молдова:</strong> Через некоторое время после свадьбы, молодая пара решила, Симеон и Наталья уйти в родном селе Симеона. Там они построили свою общую резиденцию. Молодая семья имела большое удовольствие. Господь дал им два сына, Евгений (7) и Элвис (4 месяца).
</p>
<!--more-->
<p>
	На 05/12/2016 Симеон собирались снести старый самана дом. Внезапно стен дома упал и похоронил его между собой. Не было возможности немедленно освободить его из этой ловушки. Вскоре после этого, его жизнь пошла на эту землю, чтобы закончить здесь.
</p>
<blockquote>
	"
	Для молодой вдовы (27), трудно понять, почему это должно было случиться. Ее ребенок был в это время всего 4 недели. Она глубоко тронуты тем, что так много молиться за нее, она благодарна за материальную поддержку со стороны Германии.
	"
</blockquote>


