<div class="">
	<div class="">
		<div class="container">
			<hr class="vdivider sm">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-uppercase text-divider text-bold">
					{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Sign up for our newsletter
					{% else %}
						Подпишитесь на нашу рассылку
					{% endif %}
					</h2>
					<p>
					{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Our free monthly newsletter includes interesting articles, colorful photos, and periodic children’s stories that provide a glimpse of needs around the world and opportunities to help.
					{% else %}
						Наш бесплатный ежемесячный информационный бюллетень включает интересные статьи, красочные фотографии и периодические детские рассказы, которые дают представление о потребностях во всем мире и возможностях помочь.
					{% endif %}
					</p>
					<p class="text-reg">
					{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Several readers commented on our newsletter
					{% else %}
						Несколько читателей прокомментировали наш информационный бюллетень{% endif %}:</p>
					<p>"{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}Our children love the newsletter and so do we—it’s a chance to take a trip around the world.
					{% else %}Наши дети любят информационный бюллетень, и мы тоже - это шанс совершить путешествие по миру.{% endif %}"</p>
					<p>"{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}Reading of the great needs of others makes us aware of how greatly blessed we are even though we are struggling financially right now with illness in the family.
					{% else %}Чтение больших потребностей других заставляет нас осознавать, насколько мы очень благословенны, хотя сейчас мы боремся в финансовом отношении от болезни в семье.{% endif %}"
					</p>
					<hr>

				</div>
				<div class="col-md-6">
					<hr class="vdivider">

					<form class="form-horizontal" id="contactform" method="POST">
				{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						<input style="display: none" type="text" class="form-control" name="Lang:" value="English">
					{% else %}
						<input style="display: none" type="text" class="form-control" name="Lang:" value="Russian">
					{% endif %}
						<div class="form-group">
							<label for="client_name" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Name
					{% else %}
						Имя
					{% endif %}</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="client_name" placeholder="{% if page.layout =='default' or page.layout =='project' %}Full name{% else %}Ваше полное имя{% endif %}" required name="Client_Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Email
					{% else %}
						Эл. почта
					{% endif %}
							</label>
							<div class="col-sm-10">
								<input type="email" class="form-control" id="inputEmail3" placeholder="{% if page.layout =='default' or page.layout =='project' %}Email{% else %}Электронная почта{% endif %}" name="Client_Email">
							</div>
						</div>
						<!--				Address-->
						<div class="form-group">
							<label for="inputAddress" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Address
					{% else %}
						Адрес
					{% endif %}
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="inputAddress" placeholder="{% if page.layout =='default' or page.layout =='project' %}Address{% else %}Адрес{% endif %}" required name="Client_Address">
							</div>
						</div>
						<!--				City-->
						<div class="form-group">
							<label for="inputCity" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						City
					{% else %}
						Город
					{% endif %}
							</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="inputCity" placeholder="{% if page.layout =='default' or page.layout =='project' %}City{% else %}Город{% endif %}" required name="Client_City">
							</div>
						</div>
						<!--				Zip-->
						<div class="form-group">
							<label for="inputZip" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Zip
					{% else %}
						Индекс
					{% endif %}
						</label>
							<div class="col-sm-10">
								<input type="number" class="form-control" id="inputZip" placeholder="{% if page.layout =='default' or page.layout =='project' %}Zip code{% else %}Индекс{% endif %}" required name="Client_Zip">
							</div>
						</div>
						<!--				State-->
						<div class="form-group">
							<label for="inputState" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						State
					{% else %}
						Штат
					{% endif %}
						</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="inputState" placeholder="{% if page.layout =='default' or page.layout =='project' %}State{% else %}Штат{% endif %}" required name="Client_State">
							</div>
						</div>
						<!--				Phone-->
						<div class="form-group">
							<label for="inputPhone" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Phone
					{% else %}
						Тел
					{% endif %}
						</label>
							<div class="col-sm-10">
								<input type="tel" class="form-control" id="inputPhone" placeholder="{% if page.layout =='default' or page.layout =='project' %}Phone number{% else %}Номер телефона{% endif %}" name="Client_Phone">
							</div>
						</div>

						<div class="form-group">
							<label for="client_message" class="col-sm-2 control-label">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Message
					{% else %}
						Сообщение
					{% endif %}
							</label>
							<div class="col-sm-10">
								<textarea name="Client_Message" id="client_message" class="form-control" rows="3"></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary">
								{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
						Signup
					{% else %}
						Подписаться
					{% endif %}
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
