<div class="headline">
	<div class="">
		<div class="container">
			<hr class="vdivider sm">
			<div class="row">
				<div class="col-md-5">
					<h2 class="text-uppercase text-divider text-bold">
					{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
		Sign up for updates by email {% else %} Подпишитесь на обновления по электронной почте {% endif %}
					</h2>
					<p>
					{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
		Sign up to receive email updates on the work of {% else %} Подпишитесь для получения обновлений о работе {% endif %}
					<strong class="text-reg">{{ site.organization }}</strong></p>
					<hr>

					<form action="//aidcim.us16.list-manage.com/subscribe/post?u=1704fcb8fba5f1d98860cf29b&amp;id=47ca235288" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="form-group">
							<label for="mce-FNAME">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
							First name
							{% else %}
							Имя
							{% endif %}
							: </label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME">
						</div>
						<div class="form-group">
							<label for="mce-LNAME">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
							Last Name
							{% else %}
							Фамилия
							{% endif %}
							:</label>
							<input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME">
						</div>

						<div class="form-group">
							<label for="mce-EMAIL">
							{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
							Email
							{% else %}
							Email
							{% endif %}:</label>
							<input type="email" class="form-control" id="mce-EMAIL" placeholder="jane.doe@example.com" name="EMAIL" required>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1704fcb8fba5f1d98860cf29b_47ca235288" tabindex="-1" value=""></div>
						<button type="submit" id="mc-embedded-subscribe" class="btn btn-primary">
						{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
							Signup
							{% else %}
							Подписаться
							{% endif %}
						</button>
					</form>
				</div>
				<div class="col-md-7">
					<img src="{{ site.url }}/img/newsletter.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
