<div class="bg">
	<div class="gradient">
		<div class="container">
			<hr class="vdivider sm">
			<div class="row">
				<div class="col-md-4 valign">
					<p class="lead">{{ site.data.form-subscribe.p_lead-ru }}</p>
					<h2 class="text-uppercase text-divider text-bold">{{ site.data.form-subscribe.h2-ru }}</h2>
					<p>{{ site.data.form-subscribe.p-ru }}</p>
					<form action="//aidcim.us16.list-manage.com/subscribe/post?u=1704fcb8fba5f1d98860cf29b&amp;id=47ca235288" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div class="form-group">
							<label for="mce-EMAIL">{{ site.data.form-subscribe.label-ru }}:</label>
							<input type="email" class="form-control" id="mce-EMAIL" placeholder="jane.doe@example.com" name="EMAIL" required>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>
						<div style="position: absolute; left: -5000px;" aria-hidden="true">
							<input type="text" name="b_1704fcb8fba5f1d98860cf29b_47ca235288" tabindex="-1" value="">
						</div>
						<button type="submit" class="btn btn-primary">{{ site.data.form-subscribe.btn-ru }}</button>
					</form>
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
