<nav class="navbar navbar-default">
	<div class="container-fluid text-center">
		<i>Only they would that we should remember the poor. Gal.2:10</i>
	</div>
	<div class="clearfix">

		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ site.url }}">
					<div>
						<h1 class="text-uppercase text-bold">Aid <small>in</small> difficulty</h1>
					</div>
					<span class="text-reg">Christian International Ministry</span>
				</a>
			</div>

			<div class="pull-right flags">
				<a class="flag-rus" href="{{ site.url }}/ru{{ page.url }}" title="">RU</a>
				<a class="flag-us" href="{{ site.url }}{{ page.url }}" title="">EN</a>
			</div>
		</div>



	</div>
	<div class="container-fluid text-center">
		<p>widows · orphans · sick · charity · evangelism · persecuted christians · humanitarian aid</p>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

		<ul class="nav navbar-nav">

			{% for item in site.data.menu.menu %}
			<li class="{% if page.url == item.link %}current{% endif %} {{ item.class }} menu-item">
				{% if item.class == 'dropdown-toggle' %}{{ item.name }}{% elsif item.class != 'dropdown-toggle' %}
				<a href="{{ site.url }}{{ item.link }}">{{ item.name }}</a> {% endif %} {% if item.sub-items %}
				<ul class="drop-menu">
					{% for subitem in item.sub-items %}
					<li class="submenu-item"><a href="{{ site.url }}{{ subitem.link }}">{{ subitem.name }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
			</li>
			{% endfor %}

			<li class="flag-nav"><a class="sub-item" href="{{ site.url }}/ru{{ page.url }}">Russian version &nbsp; <i class="fa fa-flag" aria-hidden="true"></i>
</a></li>
			<li class="flag-nav"><a class="sub-item" href="{{ site.url }}{{ page.url }}">English version &nbsp; <i class="fa fa-flag" aria-hidden="true"></i>
</a></li>
		</ul>
	</div>
</nav>
