.navbar
	border-radius: 0
	margin-bottom: 0

	@include phone
		min-height: 60px

	@include tablet
		min-height: 100px

.navbar-default
	background:
		color: transparent
	border: 0

	.navbar-toggle
		margin-top: 13px
		background:
			color: $feature-color
		&:hover,
		&:focus
			background:
				color: $highlight

		.icon-bar
			background:
				color: #fff

	.navbar-brand
		color: #fff

	.navbar-nav

		@inlude phone
			display: block
			float: left

		@include tablet
			display: inline-block
			float: none


		>li
			position: relative
			padding: 15px 10px
			font-weight: 600
			line-height: 22px
			cursor: pointer
			font-size: 16px
			transition: all 200ms ease-in

			>a
				line-height: 22px
				font-size: 16px


			&:hover
				color: $base-color
				background-color: $light-color

				>a
					color: #333
					text-decoration: none

			>.drop-menu
				text-align: left
				display: none
				background-color: $light-color
				z-index: 10

				@include phone
					position: relative

				@include tablet
					position: absolute
					left: 0
					top: 52px


				.submenu-item
					min-width: 180px
					font-weight: 400
					font-size: 14px

					@include phone
						border-bottom: 1px solid $light-color

					@include desktop
						border-bottom: 1px solid #fff

					>a
						color: #fff
						display: block
						padding: 10px

						&:hover
							color: #333
							text-decoration: none


			&:hover >.drop-menu
				display: block


			>a
				color: $feature-color
				font-weight: 600
				font-size: 16px
				transition: all 200ms ease-in
				padding: 0

				&:hover
					color: $base-color


			&.menu-item
				position: relative

				&.donate
					background:
						color: $highlight
					color: #fff

					a
						color: #fff

					&:hover
						background:
							color: $highlight-hov
						color: #fff
				&.current
					border-bottom: 3px solid red

			&.dropdown-toggle

				&:hover + .dropdown-menu

					display: block


.navbar-default
	.navbar-collapse
		max-height: 100%

		@incude phone
			text-align: left
		@include tablet
			text-align: center
			background: #efefef
			border-top: 5px solid #efefef

	ul
		list-style: outside none none

	>.clearfix
		@include phone
			background: repeating-linear-gradient(to bottom, $feature-color, $feature-color 20px, #fff 20px, #fff 40px, $feature-color 40px)
		@include tablet
			background: repeating-linear-gradient(to bottom, $feature-color, $feature-color 30px, #fff 30px, #fff 70px, $feature-color 70px)

	>.container-fluid
		display: none

		@include phone

		@include tablet-ls
			display: block
			background-color: #fff
			color: $feature-color

		p
			margin: 0
			font-family: $roboto-light
			font-size: 16px


