---
#Layout
layout: project

#Category
category: widows

#Title
title: Current situation in the Eastern Ukraine - FRIENDS - Emergency Assistance

#Description
description: Current situation in the Eastern Ukraine - FRIENDS - Emergency Assistance

img: /img/projects/16-1024x576.jpg

project-title: "Current situation in the Eastern Ukraine"
project-location: Ukraine
project-intro:

---

<p>The war in <strong>eastern Ukraine</strong> has disappeared from the focus of many media. Here, the conflict continues swells and an end or a solution is not in sight.</p>

<p>Three years have passed since the beginning of the Ukraine conflict and the region does not come to rest until today. At the agreed cease-fires that are signed over again, none of the parties holds. Both sides blame each other, but often suffer from very simple people who have contributed nothing to this conflict.</p>
<!--more-->
<p>The small town Awdeevka was in January to the combat zone. Several thousands of people were to be evacuated. The city remained without electricity and water. The staff of the Relief Committee visited immediately the city (34,000 inhabitants), to bring the people there humanitarian aid (clothing, food). The residents were amazed that there are fellow human beings who are willing spite of the danger to help others.</p>

<p>In the city of Lugansk our brothers and sisters are decried by the authorities and by public media as a sect. Nevertheless, the brothers and sisters in this difficult time, the fellows strive to gift with bread. Therefore, the house of prayer is always well stocked. In summer, eight souls were baptized in the urban population and the community added unto them.</p>

<p>
	<strong><em>May God still many put on your heart to pray for the victims in the Eastern Ukraine. In order for this war finally comes to an end and record through the true testimony of our brothers and sisters for many the true prince of peace in their lives. To continue this work, the brothers need our prayers and financial support.</em></strong>
</p>


