---
#Layout
layout: project

#Category
category: orphans

#Title
title: House fire in Tomsk - FRIENDS - Emergency Assistance

#Description
description: House fire in Tomsk - FRIENDS - Emergency Assistance

img: /img/projects/Hausbrand-in-Tomsk-1.jpg

project-title: "House fire in Tomsk"
project-location: Russia
project-intro:

---


<p><strong>Russia:</strong> Mama here comes smoke, "the voice came from the nursery. The mother immediately ran there. When she opened the door, the fire broke out. The black smoke and the rising fire spread out throughout the house in the twinkling. The mother screamed for the children and tried all of the burning house to save. Soon the whole attic was on fire. The fire department was immediately alarmed. In this panic at first no one noticed that the little 5-year-old Waldemar missing. The father ran back into the house, but it was already too late to be shouting the small Waldemar did not answer. The strong fumes from the burning plastic blocked the entrance to the attic. No one - not even the now arrived firefighters - could save the little boy from the burning house.
</p>
<!--more-->
<p>
	<blockquote>
	The suffering of the Busaev family is very large. All wept bitterly. The whole household was destroyed by the fire and the fire-fighting water. The parents, Alexander and Natalia, are both orphans and have no relatives. Please pray for these severely affected family. May God move our hearts to help them in their hour of need.
	</blockquote>
</p>
<hr>
<h3>Addendum from 05/12/2017:</h3>
<p>Thanks to the many donors and volunteers the house (photos s.) Is now being re-constructed for the family. They thank warmly.</p>


