---
#Layout
layout: project

#Category
category: widows

#Title
title: Widow Natalia Moraru - FRIENDS - Emergency Assistance

#Description
description: Widow Natalia Moraru - FRIENDS - Emergency Assistance

img: /img/projects/ad08.jpg

project-title: "Widow Natalia Moraru"
project-location: Moldova
project-intro:

---


<p>
	<strong>Moldova:</strong> Some time after their wedding, the young couple decided, Simeon and Natalia withdraw in Simeon's home village. There they built their common residence. The young family had great pleasure. The Lord gave them two sons, Eugene (7) and Elvis (4 months).
</p>
<p>
	On 05/12/2016 Simeon was about to demolish an old adobe house. Suddenly the wall of the house crashed and buried him among themselves. It was not possible to free him immediately out of this trap. Shortly thereafter, his life went on this earth to end here.
</p>
<!--more-->
<blockquote>
	"
	For the young widow (27) it is hard to understand why this had to happen. Her baby was at this time just 4 weeks old. She is deeply touched that so many pray for her, she is grateful for the material support from Germany.
	"
</blockquote>


