---
#Layout
layout: project

#Category
category: widows

#Title
title: Widow Munira Hamidov - FRIENDS - Emergency Assistance

#Description
description: Widow Munira Hamidov - FRIENDS - Emergency Assistance

img: /img/projects/v1024x583.jpg

project-title: "Widow Munira Hamidov"
project-location: Uzbekistan
project-intro:

---

<p>
	<strong>Uzbekistan:</strong> "Look, what a miracle!" - shouted the little Linda, as she unpacked her gift: "Just a doll I wished" "Look at me," cried another girl next to her: "Oh, which I could only dream! "The half-orphans were pleased vocal about their Geschenke.Ihre mother, widow Munira (39) looked to be smiling. Her sad eyes filled with tears. She cried for joy!
</p>
<!--more-->
<p>
	There have passed only six months since her loving husband and father of 10 children, has passed away after a serious illness. Time and again, brings back memories. The images from the past hovering over again before their eyes: The Proposal, the first daughter, first encounters with Christians, conversion and baptism. The house was filled more and more with children. The children brought much joy to the family. They loved her very much. The laughter and tears belonged to everyday life. Despite the handicap of the Father (deafness), were all children are born healthy.
</p>
<p>
	The last year the father of the large family traveled a lot. His concern was to tell as many people as possible from the true joy in Jesus Christus, he was able to experience themselves personally. After a long drive one day he came all the way through frozen and home exhausted. This cold meant that brother Ibrahim fell ill.
</p>
<p>
	„Oh…“, stöhnte Schwester Munira innerlich, „das Leben ist so kurz!“ Und auf einmal standen die Abschiedsbilder wieder vor ihren Augen: Die Beerdigung wollten die Verwandten nach muslimischen Bräuchen durchführen. Der Imam (Priester im Islam) war überzeugt, dass es anders überhaupt nicht möglich ist, eine Beerdigung durchzuführen. Als die Geschwister davon erfuhren, kamen sie eifrig aus verschiedenen Ortschaften, um dem Verstorbenen das letzte Geleit zu geben. Dabei wurde aus der Bibel gelesen und gebetet. Nur danach konnten die Männer aus der Verwandtschaft unter der Leitung des Imam die Leiche in ein Tuch wickeln und schnell zum Friedhof tragen. Nach ihren Bräuchen dürfen am Friedhof nur Männer dabei sein. Die „Ungläubigen“ dürfen diesen Ort bei dieser Zeremonie nicht betreten.
</p>
<blockquote>
	Life in Uzbekistan (biblically the land of Uz) is not comparable to Germany. There is no insurance and no sick pay. Child benefit is a foreign word ... Despite the heavy fate widow Munira remains full of confidence in God. The children and the mother would like to thank very much for the gifts that intercession and financial support during this difficult time.
</blockquote>




