---
#Layout
layout: project

#Category
category: widows

#Title
title: Witwe Ludmila Redkina

#Description
description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, mollitia.

img: /img/projects/Witwe-Ludmila-Redkina.jpg

project-title: "Widow Ludmila Redkina"
project-location: Ukraine
project-intro:

---

<p>
	<strong>Eastern Ukraine:</strong> The mother of ten, widow Ludmila (53), lived with their children right on the front line in the war zone of eastern Ukraine. Meanwhile, 18 months have passed since her beloved husband Anatoly came with son Daniel in a bomb explosion killed.
</p>
<p>
	It is often said that time heals the painful wounds, but at Schwester Ludmila memories are always awake and now you get the terrible images come to mind.
</p>
<!--more-->
<p>
	The accident happened on a sunny Sunday. The traces of this terrible tragedy can be overcome heavy. But Ludmila take courage and strives to care for their other nine children. The dark shadow of war has traumatized the children - this can be seen in their faces. - "Only with God's help, only with God's help," - again and again repeated the widow, "we survived that day."
</p>
<p>
	<blockquote>
	"
	Here one can only marvel at how much courage and strength has the poor widow. At Christmas they went with the whole family in the Orthodox Church to sing there the visitors from the living faith and true hope. The visitors were deeply touched that the widow puts her confidence in such a state only in the living God. Many roommate remember with good words to the husband and father of the large family. He was always cheerful and helpful.
	"
	</blockquote>
</p>
<p>
	<strong>
		The widow thanked for their support in prayer and for financial and humanitarian aid from Germany.
	</strong>
</p>


