{% assign current-projects = site.current-projects-ru | sort: 'date' %} {% for project in current-projects reversed limit: "1" %}
<div class="col-md-6">
	<hr class="vdivider sm">
	<a href="{{ site.url }}{{ project.url }}" class="link">
		<img class="img-responsive" src="{{ site.url }}{{ project.img }}" alt="">
		<div class="caption">
			<h3 class="text-bold">{{ project.project-title }}</h3>
			<p class="lead text-reg">
				{% if project.project-intro%} {{ project.project-intro }} {% endif %} <br>
				<u>Узнать больше . . .</u>
			</p>
		</div>
	</a>
	<hr class="vdivider sm">
</div>
{% endfor %}
