---
layout: default

description: Aid Christian International Ministry · Website | Projects Activity and Contact

title: Aid Christian International Ministry · Projects page

heading: Donations

---

{% include nav-desktop.html %}

{% include sections/page-heading.html %}

<hr class="vdivider sm">
<div class="container content">
	<div class="row">

		<div class="col-md-8">
			<p>Again and again we take trips by truck or a sprinter in the countries Moldova and Ukraine to humanitarian aid be transported there. Very valuable are food parcels for widows and large families in the Eastern Ukraine. We will send you a tax receipt for the donation.</p>
			<h3 class="text-bold">
				What we collect:
			</h3>
			<ul>

    <li>Large electrical appliances such as washing machine, refrigerator, dishwasher, electric oven ...</li>
    <li>Clothing (sorted by: men, women, children, shoes) best in banana boxes!</li>
    <li>Food packages (min. 4 months Stable)</li>
    <li>well preserved and stable furniture</li>
    <li>Bicycles, strollers, child seats</li>

			</ul>
			<p>
				Please ensure that the donation are well preserved and functional. The transport costs are very high, so we make sure that only valuable donation is loaded. Be the clothes should be washed and sorted and the best packed in banana boxes (obtained in demand in all major department stores).
			</p>
		</div>
		<div class="col-md-4">
			<h3 class="text-reg">
				Contact:
			</h3>
			<p>
				Ms. A. Akopian (Russian) <br>
				Tel: <a href="">0157 33651103</a> <br>
				E-Mail: <a href="mailto:transport@aidcim.org">transport@aidcim.org</a>
			</p>
			<p>
				Mr. P. Epp (English) <br>
				Tel: <a href="">0157 33651103</a> <br>
				E-Mail: <a href="mailto:transport@aidcim.org">transport@aidcim.org</a>
			</p>
			<hr>
			<h3 class="text-reg">
				collection:
			</h3>
			<p>
				We have two camps: <strong>Frankenberg</strong> and <strong>Fulda</strong> . Please always arrange for deliveries.
			</p>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
