<div class="bg">
	<div class="gradient">
		<div class="container">
			<div class="row text-center">
				<hr class="vdivider">

				<h2>
					Lorem ipsum dolor sit amet, consectetur adipisicing.
				</h2>
			</div>
			<div class="row">
				<div class="col-md-6 img-wrap">
					<img src="{{ site.url }}img/faith.jpg" alt="">
					<hr class="vdivider sm">

				</div>
				<div class="col-md-6">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					<p>Ut quos voluptate quae eum ex officiis nobis ipsam molestiae, in placeat cumque consequuntur voluptatibus atque suscipit distinctio tempore fugit, tempora nulla architecto.</p>
					<p>Soluta veniam qui consectetur ut quod molestias nulla tenetur ullam culpa sed fugiat odio, maiores quam assumenda nam rerum, placeat, hic odit doloremque ducimus unde. </p>
					<p>Laboriosam pariatur voluptas, nesciunt nostrum, corporis hic dicta. Quasi repellendus delectus modi </p>
					<hr class="vdivider sm">
					<p class="">
						<button type="submit" class="btn btn-info btn-lg">Lorem ipsum</button>
					</p>
				</div>
			</div>
			<div class="row">
				<hr class="vdivider">
			</div>
		</div>
	</div>
</div>
