<article class="">
	<div class="container">
		<div class="row">
			<hr class="vdivider">
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="img-wrap">
					<p>
						Church logo
						<img src="{{ site.url}}/img/logo/logo.svg" alt="" style="width: 50px;">
					</p>
					<p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, possimus nulla expedita debitis dignissimos blanditiis itaque eos amet minima, hic sed facere fugit ratione laborum! Maxime sit error sunt consequatur!</p>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<h3 class="text-divider">Lorem ipsum</h3>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur iusto, explicabo rem.</p>
			</div>
			<div class="col-sm-4">
				<h3 class="text-divider">Lorem ipsum</h3>
				<p class="lead">Lorem ipsum dolor sit amet</p>
				<p class="lead">
					<a class="icon-lg light" href=""><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
					<a class="icon-lg light" href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
					<a class="icon-lg light" href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
					<a class="icon-lg light" href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
				</p>
			</div>
		</div>
		<div class="row">
			<hr class="vdivider">
		</div>
	</div>
</article>
