<div class="bg">
	<div class="gradient">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 valign">
					<hr class="vdivider">
					<p class="lead">Send your feedback</p>
					<h2 class="text-uppercase text-divider text-bold">Submit a form</h2>
					<p>Easiest way to stay in touch Lorem ipsum dolor sit amet.</p>
					<p>
						<!--
					<a href="{{ site.url }}{{ site.data.current_projects.link_url }}" class="btn btn-warning btn-lg">
						{{ site.data.current_projects.link_text }}
					</a>
		-->
					</p>
					<hr class="vdivider">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<form class="">

						<div class="form-group">
							<label for="client_name" class="control-label">Name</label>
							<input type="text" class="form-control" id="client_name" placeholder="Your name">
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="control-label">Email</label>
							<input type="email" class="form-control" id="inputEmail3" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="client_message" class="control-label">Message</label>
							<textarea name="" id="client_message" class="form-control" rows="3" placeholder="Message"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info btn-lg">Submit</button>
						</div>
					</form>

				</div>
			</div>
		<hr class="vdivider">
		</div>
	</div>
</div>
