<div class="container-fluid bg-light">
	<hr class="vdivider">

	<div class="container text-center">
		<form class="form-inline">
			<div class="form-group">
				<label for="exampleInputName2">Name</label>
				<input type="text" class="form-control" id="exampleInputName2" placeholder="Your Name">
			</div>
			<div class="form-group">
				<label for="exampleInputEmail2">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
			</div>
			<button type="submit" class="btn btn-default">Send </button>
		</form>
	</div>
	<hr class="vdivider">

</div>
