<!DOCTYPE html>
<html lang="ru">

{% include head.html %}

<body>
	{% include nav-desktop-ru.html %}
	{% include sections/page-heading.html %}
<hr class="vdivider sm">

<div class="container">
	<div class="row">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="text-reg">{{ page.program-title }}</h3>
			</div>
			<div class="panel-body">
				<p>
					{{ page.content }}
				</p>
				<hr>
					{% include paypal/two-row-donation.html %}

				<hr class="vdivider sm">

				<div class="col-xs-12">
					<h4 class="">Новости по данной категории</h4>
				</div>

				{% assign current-projects = site.current-projects-ru %}
				{% for project in current-projects limit: 3 %}
				{% if project.category == page.category %}
				<div class="col-sm-4">
					<a href="{{ site.url }}{{ project.url }}" class="thumbnail">
						<div class="thumb-img lg" style="background-image: url('{{ site.url }}{{ project.img }}')">
						</div>
						<div class="caption bg-info">
							<p class="">{{ project.project-title }}</p>
						</div>
					</a>
				</div>
				{% endif %}
				{% endfor %}






			</div>
		</div>


	</div>
</div>


	{% include footer/footer-v2.html %}

	{% include extras/script.html  %}
</body>

</html>
