<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	{% include nav-desktop.html %}

	<div class="container">
		<hr class="vdivider sm">
		<div class="row">
			<div class="col-md-8 img-wrap headline">
				<hr class="vdivider sm">

				<p class="lead">
					<strong>News Posts</strong>
				</p>
				<hr>
				<img src="{{ site.url }}{{ page.img }}" alt="{{ page.title }}" class="img-responsive img-rounded">
				<h1>{{ page.project-title }}</h1>
				<p class="info"><strong><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ page.date | date: '%B %d, %Y' }} &nbsp;| &nbsp;<i class="fa fa-globe" aria-hidden="true"></i> {{ page.project-location }}</strong></p>
				<div class="content">
					{{ content }}
					<hr>

				</div>

				<div class="clearfix">

					{% include paypal/two-row-donation.html %}
				</div>
				<hr>
				<ul class="pager">
					{% if page.previous.url %}
					<li class="previous">
						<a href="{{ site.url }}{{ page.previous.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Previous Post</a>
					</li>
					{% endif %} {% if page.next.url %}
					<li class="next">
						<a href="{{ site.url }}{{ page.next.url | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
					</li>
					{% endif %}
				</ul>
				<a href="{{ site.url }}/news-posts/" class="btn btn-link">
					<i class="fa fa-backward" aria-hidden="true"></i>&nbsp; Back to News posts
				</a>
				<hr class="vdivider sm">
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				{% include sections/recent-news.html %}

				<hr>
			</div>
		</div>
	</div>


	{% include footer/footer-v2.html %} {% include extras/script.html %}
</body>

</html>
