---
layout: default-ru

description:  Страница о нас

title:  · О нас

heading: О нас
heading_lead: Кто мы и где мы работаем
---

{% include nav-desktop-ru.html %}

{% include sections/page-heading.html %}


<hr class="vdivider sm">

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h3 class="text-bold">
				AID in DIFFICULTY работает совместно с Комитетом Помощи «Круг друзей» (FREUNDESKREIS) Германия.
			</h3>
<hr>
			<h4 class="text-reg">Кто мы?</h4>
			<p>
				Мы баптисты и иммигранты из бывшего Советского Союза, наши отцы и деды были преследуемы в атеистической стране за верное служение Иисусу Христу. Живя в этой благополучной стране, мы стремимся находить тех, кто желает помогать тем, кто живёт в экономических трудностях. AID CIM является бездоходной организацией, освобождённой от налогов со статусом 501 (с)(3) organization.
			</p>
			<h4 class="text-reg">Где мы работаем?</h4>
			<p>
				Главным образом мы работаем, в странах бывшего Советского Союза, (Украина, Казахстан, Узбекистан, Молдова, Россия, итд, а также в Израиле с русскоговорящими людьми).
			</p>
			<h4 class="text-reg">Что мы делаем?</h4>
			<p class="text-reg bg-info">Оказываем экономическую и духовную помощь вдовам.</p>
			<p>
				Вдовы, вдовцы и оставленные жены, являются самыми незащищёнными людьми в странах со слабой экономикой. Помощь оказывается материальная и духовная. Материальная помощь выражена в приобретении: еды, одежды, школьных принадлежностей для детей, топлива в зимнее время, а также единовременная финансовая помощь по назначению и организация необходимой помощи. Духовная помощь выражается в проведении общений для вдов, поздравления в день рождения.
			</p>
			<p class="text-reg bg-info">Помогаем сиротам.</p>
			<p>
				В странах СНГ много сирот. Есть христианские семьи, которые взяли на воспитание сирот и этим показывают им Божью любовь. Таким семьям необходимо оказывать ежемесячную финансовую помощь. Многие детские дома посещаются с целью принести подарки и христианскую литературу для детей. Также оказать посильную хозяйственную помощь в устройстве детских домов. Государственная помощь для детских домов в этих странах очень ограниченна.
			</p>
			<p class="text-reg bg-info">Обеспечиваем возможную помощь для лечения больных детей.</p>
			<p>В жизни бывают различные обстоятельства, кто-то приобрёл болезни при рождении кто-то в результате несчастного случая. Наша цель в основном помогать только детям, так как часто родители многодетных семей не в состоянии оплачивать лечение серьёзных проблем со здоровьем у их детей.</p>
			<p class="text-reg bg-info">Обеспечиваем возможную помощь миссионерам.</p>
			<p>Проповедь Евангелия - одно из главных назначений Церкви Иисуса Христа. Очень важно поддерживать людей, вовлечённых в служение проповеди Евангелия и организацию новых церквей. Эти люди часто работают в сложных условиях и сталкиваются с преследованиями. Наша задача обеспечить самые необходимые нужны миссионерских семей. Экономическая ситуация в этих странах очень сложная, жизнь нелегкая. Многие миссионерские семьи живут на минимуме, часто не имеют того, что мы здесь в Америке называем «самое необходимое».</p>
			<p class="text-reg bg-info">
				Помощь пострадавшим от различных бедствий.
			</p>
			<p>«Aid in Difficulty» оказывает срочную посильную помощь пострадавшим от пожара, наводнения, и других стихийных бедствий, также оказавшимся в зонах военного конфликта. </p>
			<p class="text-reg bg-info">Гуманитарная помощь</p>
			<p>«Aid in Difficulty» оказывает гуманитарную помощь, выраженную в продуктовых посылках, людям, оказавшимся в кризисной ситуации, в зонах военного конфликта, экономической нестабильности и во всякого рода бедствиях. Задача нашей помощи – дать почувствовать людям кто в нужде, что они не одни. </p>
			<p class="text-reg bg-info">Христианские мученники</p>
			<p>Эта программа оказывает специальную помощь верующим, испытывающим гонения в странах где мы работаем. В Бывшем Советском Союзе верующих преследовали, как результат, некоторые постаревшие бывшие узники испытывают трудности заработать на жизнь. Фонд Христианские Мученики поддерживает бывших узников за веру, пасторов и христианских работников, помогая им приобрести необходимое. </p>
			<p class="text-reg bg-info">Почему мы делаем? </p>
			<p>В Библии есть много повелений относительно помощи бедным. «Помогай левиту, сироте, вдове и пришельцу», «Чтобы мы всегда помнили нищих», «Каждый не только о себе заботься, но и о других». </p>
		</div>
		<div class="col-md-4">
			{% include sections/contact-sidebar.html %}
			<hr class="vdivider sm">
			{% include sections/paypal-sidebar.html %}
			<hr class="vdivider sm">
			{% include sections/newsletter-sidebar.html %}
			<hr class="vdivider sm">
		</div>
	</div>

	<hr class="vdivider sm">
</div>


<div class="container-fluid headline">
	<hr class="vdivider sm">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<p class="lead">
			Because I delivered the <span class="text-bold">afflicted</span> that cried for help,
			<br> and the <span class="text-bold">orphan</span> , that was abandoned by all.
			<br> The <span class="text-bold">dying</span> I was at, he wished me a blessing;
			<br> the <span class="text-bold">widow</span> I helped, and she could sing happy again.
		</p>
		<p>
			Job 29: 12-13
		</p>
	</div>
	<hr class="vdivider sm">
</div>


<div class="container">
	<hr class="vdivider sm">
	<div class="row content">

		<div class="col-sm-6">
			<h3 class="text-bold">
				{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Our Programs
				{% else %}
					Наши программы
				{% endif %}
			</h3>

			<ul>
				<li>Вдовы</li>
				<li>Сироты</li>
				<li>Больные</li>
				<li>Евангелизация</li>
				<li>Благотворительность</li>
				<li>Гуманитарная помощь</li>
				<li>Христианские мученики</li>
			</ul>
			<a href="{{ site.url }}/ru/our-programs" class="btn btn-primary">
			 {% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Learn more about AIDCIM programs
				{% else %}
					Узнать больше о программах AIDCIM
				{% endif %}

			</a>
		</div>
		<div class="col-sm-6">
			<h3 class="text-bold">
				{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
					Our Goals
				{% else %}
					Наши цели
				{% endif %}
			</h3>

			<div class="col-sm-12">
				<ul>
					<li>Project-related transmission of donation</li>
					<li>fastest possible help in urgent need</li>
					<li>Teaching the helpers to needy</li>
					<li>Possible personal delivery of assistance</li>
					<li>Cost effective and rigorous management</li>
					<li>Helping people help themselves whenever possible</li>
					<li>Encourage siblings to helpfulness</li>
				</ul>
			</div>

		</div>
	</div>
	<hr class="vdivider sm">
</div>

<div class="container-fluid headline">
	<hr class="vdivider sm">
	<div class="row text-center">
		<div class="col-sm-4">
			<p class="text-bold">
				since
				<span class="digit-lg">10</span> years
			</p>
		</div>
		<div class="col-sm-4">
			<p class="text-bold">
				that
				<span class="digit-lg">970</span> projects
			</p>
		</div>
		<div class="col-sm-4">
			<p class="text-bold">
				in
				<span class="digit-lg">12</span> countries
			</p>
		</div>
	</div>
	<hr class="vdivider sm">
</div>
