<button class="btn btn-danger text-uppercase btn-lg col-md-12" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Donate now
</button>
<div class="collapse" id="collapseExample">
	<div class="">
		{% include paypal/two-row-donation.html %}
	</div>
</div>
