<section class="headline col-lg-12">
	<h4><span class="text-danger">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	One-time Donation {% else %} Разовая Помощь {% endif %}
	</span></h4>
	<p>
		<a href="#" class="btn btn-default">$25</a>
		<a href="#" class="btn btn-default">$50</a>
		<a href="#" class="btn btn-default">$100</a>
		<a href="#" class="btn btn-default">$250</a>
		<a href="#" class="btn btn-default">$500</a>
		<a href="#" class="btn btn-default">$1000</a>
		<a href="#" class="btn btn-default">{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Other {% else %} Другое {% endif %}</a>
	</p>
	<hr>
	<h4><span class="text-danger">
	{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Monthly Sponsorship {% else %} Ежемесячаня Помощь {% endif %}
	</span></h4>
	<p>
		<a href="#" class="btn btn-default">$50{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	a month {% else %} в месяц {% endif %}
		</a>
		<a href="#" class="btn btn-default">$100{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	a month {% else %} в месяц {% endif %}
		</a>
		<a href="#" class="btn btn-default">$250{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	a month {% else %} в месяц {% endif %}
		</a>
	</p>
	<p>
		<a href="#" class="btn btn-default">$500{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	a month {% else %} в месяц {% endif %}
		</a>
		<a href="#" class="btn btn-default">$1000
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	a month {% else %} в месяц {% endif %}
		</a>
		<a href="#" class="btn btn-default">
		{% if page.layout == 'default' or page.layout == 'project' or page.layout == 'program' %}
	Other {% else %} Другое {% endif %}
		</a>
	</p>
</section>
