<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
	$(function() {
		//		smoothScroll Function Call
		smoothScroll(800);
	});


	//		smoothScroll Function
	function smoothScroll(duration) {
		$('a[href^="#"]').on('click', function(event) {

			var target = $($(this).attr('href'));

			if (target.length) {
				event.preventDefault();
				$('html, body').animate({
					scrollTop: target.offset().top
				}, duration);
			}
		});
	}
</script>
<!-- Latest compiled and minified JavaScript -->

<!-- Contact form Formspree setup-->

<script>
	var contactform = document.getElementById('contactform');
	contactform.setAttribute('action', 'https://formspree.io/' + 'info' + '@' + 'aidcim' + '.' + 'org');
</script>
